body {
    width: 100%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; padding: 0;
  }
.navbar{
    width: 100%; height: 50px; background-color: black; margin: 0;
    position: fixed; top: 0; z-index: 2;
  }
#check{
    display: none;
  }
.brand-title{
    color: white; position: absolute; left: 80px; top: 2px;
    font-size:xx-large; font-family: URW Chancery L, cursive; 
  }
.search{
    width: 40px; height: 35px; float: right;
    margin-right: 20px; margin-top: 5px;
  }
.toggle-button {
    position: absolute;
    top: 12px;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    cursor: pointer;
  }
.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
.menu{
    list-style: none; width: 28%; height: 100vh; border: solid 1px;
    margin-top: 51px; background-color: rgb(70, 67, 67); margin-left: 0;
    margin-right: 0; overflow-y: scroll; padding-left: 0; 
  }
ul li {
    list-style: none; border: 1px solid rgb(90, 87, 87); height: max-content; 
    text-indent: -5px; padding-left: 5px;
  }
ul li:hover{
    background-color: green; 
  }
ul li a {
    text-decoration: none; line-height: 25px; color: whitesmoke; 
    margin-left: 5px; 
  }
#check:checked ~ .menu{
    display: none;
  }
#forCanvas {
  width: 70%;
  height: 100%;
  margin-left: 29%;
  margin-top: 52px;
  position: relative;
}

.abstract {
  width: 49%; font-size: smaller;
  height: max-content;
  margin-left: 29%;
  margin-top: 52px;
  position: relative;
  text-align: justify;
}

.abstract h1 {
  text-align: center;
}

.abstract p i {
  font-weight: bold;
  line-height: 1.6;
}

.abstract ol li {
  line-height: 1.6;
}

.abstract p {
  line-height: 1.6;
}

.bottom-bar{
      display: flex; width:100%; height: 10em; background-color: black;
      color:white; justify-content: center; flex-direction: row; float: right;
      margin: 0; position: relative; z-index: 2; margin-top: 20px; 
  }
.contact-us{
      color:white; width: 300px; margin: 10px;
      padding: 10px; text-align: center;
  }
.contact-us a img{
      width: 40px; height: 40px; margin: 5px; margin-top: 10px;
  }

@media (max-width: 1200px){
  .menu{
    display: none;
  }
  #check:checked ~ .menu{
    display: block;
  }
  #forCanvas {
    width: 90%;
    margin-left: 10%;
  }
   .abstract {
      width: 90%; 
      margin-left: 10%;
    }
}
